@*
* パスワード変更ページ
*@

@** 引数は不要 *@
@()(implicit request: Request[AnyContent])

@main("パスワード変更") {
<v-container fluid>
    <v-row justify="center">
        <v-col class="text-center" lg="3" md="4" sm="6" v-if="!completed">
            <h2>パスワード変更</h2>
            <v-card class="pt-4 pb-3 mt-2">
                <v-card-text class="red--text text-center my-2" v-if="errorMessage">
                    {{ errorMessage }}
                </v-card-text>
                <div style="width: 73%; margin: 0 auto;" class="text-center">
                    <v-form @@submit.prevent="onSubmit" v-model="valid">
                        <v-text-field
                                class="mt-2 mb-0"
                                label="現在のパスワード"
                                type="password"
                                v-model="current"
                                prepend-icon="mdi-lock"
                                :rules="[function(v) { return !!v || '現在のパスワードを入力してください'; }]"
                        ></v-text-field>
                        <v-text-field
                                class="mt-2 mb-0"
                                label="新しいパスワード"
                                type="password"
                                v-model="desired"
                                prepend-icon="mdi-lock-outline"
                                :rules="[function(v) { return !!v || '新しいパスワードを入力してください'; }]"
                        ></v-text-field>
                        <v-text-field
                                class="mb-2 mt-0"
                                label="新しいパスワード(確認)"
                                type="password"
                                v-model="desiredConfirm"
                                prepend-icon="mdi-user"
                                :rules="[function(v) { return v === desired || '新しいパスワードが一致しません'; }]"
                        ></v-text-field>
                        <v-btn
                            class="mx-auto mb-3 d-block"
                            type="submit"
                            color="blue"
                            :dark="validAll"
                            :disabled="!validAll"
                        >パスワード変更</v-btn>
                    </v-form>
                </div>
            </v-card>
        </v-col>
        <v-col class="text-center" lg="3" md="4" sm="6" v-else>
            <h2>変更完了</h2>
            <div class="text-left">
                正常に変更が完了しました。
            </div>
            <v-btn
                    x-large
                    class="mx-2"
                    color="white"
                    style="width: 12em;"
                    href="/home"
                    tag="a"
            >ホームに戻る</v-btn>
        </v-col>
    </v-row>
</v-container>
<script>
        var options = {
            data: {
                current: '',
                desired: '',
                desiredConfirm: '',
                errorMessage: '',
                valid: false,
                completed: false,
            },
            computed: {
                validAll: function() {
                  return this.valid && !!this.desiredConfirm;
                },
            },
            methods: {
                onSubmit: function() {
                    var self = this;
                    // 変更操作を行う
                    return axios.post('/passwd', {
                        current: self.current,
                        desired: self.desired,
                    }).then(function(response) {
                        var result = response.data;
                        if (typeof result === 'string') {
                            self.errorMessage = result;
                        } else if (result === true) {
                            self.completed = true;
                        }
                    });
                },
            },
        };
    </script>
}
